body{
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.494),rgba(0, 0, 0, 0.494)),url(../assets/fundo_jornais.jpg);
    background-color: #cccccc;
    background-size: cover;
}

.h1_principal{
    border-right: red solid 5px;
    cursor: default;
    white-space: nowrap;
    overflow: hidden;
    background-color: black;
    max-width: 4%;
    padding: 0.5%;
    color: white;
    transition: max-width 1s ease-in-out;
}


.h1_principal.active{
    max-width: 100%;
}