body{
    margin:0;
}

.master{
    display: flex;
    height: 1000px;
}

.quadrinhos{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10px;
    height: 100%;
    width: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.552),black), url("../assets/fundo_quadrinhos.jpg");
}

.jornais{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10px;
    height: 100%;
    width: 50%;
    background-image: linear-gradient(black,rgba(0,0,0,0.552)), url("../assets/fundo_jornais.jpg");
    background-size: cover;
}

h2{
    width: 70%;
    height: max-content;
    font-family: 'Courier New', Courier, monospace;
    background-color: aliceblue;
    padding: 3%;
    border-radius: 2cap;
    transition: 250ms;
}

h2:hover{
    transform: scale(120%);
}

@media (max-width:768px){
    h2{
        padding: 5%;
    }
}
